.container{
    display: flex;
    flex-direction: vertical;
}

.container sidebar{
    margin: 0px 150px 0px 0px;
}

.navbar-side{
    padding: 0px;
    border: 0px;
    background-color: rgb(13, 22, 51);
    text-decoration: none;
    list-style-type: none;
}

button{
    justify-content: center;
}

.rtSideMain {
    background-color: blue;

